// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$dalyNode:rgba(255,255,255,1);
$nondalyNode:rgba(125,125,125,1);
$dalyLink:rgba(255,255,255,.5);
$nondalyLink:rgba(25,25,25,.8);

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ local ++ */
/* +++++++++++++++++++++++++++++++++++++++ noui ++ */

$height-header:3vh;
$height-main:calc(100vh - #{$height-header});

body{color:white;background-color:$body-background-color;}

.noUi-pips-horizontal{height:auto;}

#app{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // background-color:rgba(255,255,255,0);
  a{font-weight:800;color:rgba(36,255,239,.8);}
}
#vue-root{
  margin:0;
  max-width:100%;
  width:100%;
  .navbar{background-color:inherit;}
}

.dv-vertical-columns{height:$height-main;}

.dv-column-left {
  padding:0;
}

.dv-column-right {
  color: #00eb11;
  overflow-y: scroll;
  // border-left:solid 1px white;
}

.dv-trigger-active{color:red;cursor:pointer;}

#console{
  // background-color:rgba(0,0,0,1);
  background-color:transparent;
  font-weight:800;
  font-size:.5em;
  span{
    &.warning{
      color:orange;
    }
    &.error{
      color:red;
    }
  }
}

.tile{
  background-color:transparent;
  color:inherit;
}

/* +++++++++++++++++++++++++++++++++++++++ network ++ */
#network{
  // background-color:rgba(0,0,0,1);
  // background-color:transparent;
  height:100%;
  width:100%;
    /*position:relative;*/
  // height: 100vh;
  // width: 100%;
  /*min-height: calc(100vh - #{$navbar-height});*/
  /*height:auto;width:auto;*/
  /*display: block;*/
  overflow:hidden;

svg {
/*height:50vh;*/
// outline: black solid 1px;
position:relative;
background-color:transparent;
height:100%;
width:100%;
  overflow:hidden;
}
}

//graph edges
.link {
  fill: none;
  stroke: $dalyLink;
  // stroke-opacity: .5;
  stroke-width:2px;
  
}

.link > .muted{
stroke-opacity:.2;
  stroke-width:1px;
  stroke-color:#333;
}

circle{
  r:6;
  fill:$nondalyNode;
  &.invisible{fill:rgba(255,255,255,0);}
  &.daly{
    fill:$dalyNode;r:8;
    &.muted{
fill-opacity:.1;
}
    }//daly
&.selected{
  stroke:yellow;
  stroke-width:3;
  r:10;
}
&.muted{
fill-opacity:.1;
}
}

/* +++++++++++++++++++++++++++++++++++++++ timeline ++ */
#timeline{
  padding-top:0;
}
.vis-panel{
  font-weight:800;font-size:.8em;
}
.vis-even{
  background-color:rgba(0,0,0,.01)
}
.vis-odd{
  background-color:rgba(0,0,0,.05)
}
.vis-item {
  background-color:rgba(91,53,23,1);
  color:#d8b425;
  border-color:#d8b422;
}
.vis-item.vis-box{
  border-radius:3px;
}
.vis-item-content{
  font-weight:800;
  font-size:.8em;
}
.vis-item.vis-point.vis-selected, .vis-item.vis-selected{
  background-color:orange;
  color:rgba(91,53,23,1);
}
.vis-text.vis-major{
  font-weight:800;
  font-size:1.7em;
}
.vis-text.vis-minor{
  font-size:.9em;
  color:rgba(5,5,5,.5);
}
.dv-time-item{
.dv-time-item-w-geo{
  font-size:1.1em;
  color: $pink;
}
}